html, body {
  height: 100%;
  overflow: hidden;
  background-image: url("bg/404.jpg");
  background-color: #FCCA28;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.error-page {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  font-family: "Barlow Condensed", sans-serif;
}

.error-page-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  font-family: "Barlow Condensed", sans-serif;
}
.error-page h1 {
  font-size: 40vh;
  font-weight: 900;
  position: relative;
  margin: -16vh 0 0;
  padding: 0;
}
.error-page h1:after {
  content: attr(data-h1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: transparent;
  /* webkit only for graceful degradation to IE */
  background-color: #231F20;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100%;
  /* text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.25); */
  animation: animateTextBackground 10s ease-in-out infinite;
}
.error-page h1 + p {
  color: #231F20;
  font-size: 7vh;
  font-weight: 500;
  line-height: 6vh;
  max-width: 600px;
  position: relative;
}
.error-page h1 + p:after {
  content: attr(data-p);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: transparent;
  /* text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5); */
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

#particles-js {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.btn {
  font-size: 4vh;
  margin-top: 3vh;
  cursor: pointer;
  z-index: 100 !important;
  border-radius: 0;
  padding: .2% 3% .2% 3%;
  position: absolute;
  bottom: 20%;
  font-weight: 500;
  text-align: center;
  border: .4vw solid #231F20;
  background-color: rgba(0,0,0,0);
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

.btn a {
  color: #231F20;
  text-decoration: none;
}

.btn:hover {
  background-color: #231F20;
}

.btn:hover > a {
  color: #FCCA28;
}


@keyframes animateTextBackground {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 100% 0;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0 100%;
  }
  100% {
    background-position: 0 0;
  }
}
@media (max-width: 767px) {
  .error-page h1 {
    font-size: 32vw;
  }
  .error-page h1 + p {
    font-size: 8vw;
    line-height: 10vw;
    max-width: 70vw;
  }
  .btn {
    bottom: 30%;
  }
}

@media (max-width: 414px) {
  .btn {
    bottom: 35%;
  }
}
