/*


            .@    %@@@@@    /@@@@@/   %@&
          .@%       @@@.     #@@         @%           .#@@@@@@@%.           #@@@@&@@@@@@@&,
         ,%           &%     @*           /@     .@@@@@@#         &@(    @@(          ,@@@@@@@,
         @             &    /%             ./  #@@@@@@              /@ ,@(              /@@@@@@@*
        @               @   @               @ @@@@@@@                                    %@@@@@@@,
        @               @.  @               @@@@@@@@#                                    .@@@@@@@&
        @,             .@#  @*              @@@@@@@@&                                    &@@@@@@@
        @@             @@%  @@             @@*@@@@@@@%               @@@@*              #@@@@@@@
        /@@/         .@@@*  %@@@         %@@@  @@@@@@@@.           @@@@@@@@%          &@@@@@@(
         @@@@@#, .(@@@@@@    @@@@@@&@@@@@@/    ,&@@@@@@@@@##&@@@,  .@@@..%@@@@@@@@@@@@&.
          @@@@@@@@@@@@@@#    /@@@@@@@@@@@@@@              .@@@@@.             &@@@@@@
           @@@@@@@@@@@@@      #@@@@@@@@@@@@             %@@@@@@@@@%         @@@@@@@@@@@
            &@@@@@@@@@%         @@@@@@@@@/             @@@@@@@@@@@@@       @@@@@@@@@@@@@,
              .@@@@@               &@@/               @@@@@@@@@@@@@@@     @@@@@@@@@@@@@@@.
          *&@@@@@@@@@@,   @@,   (@@@@@@@@@@@@%.      #@@@@@@@@@@@@@@@@   &@@@@@@/.*%@@@@@@
     .@@@@@@%         ,@@@@@@@@%          /@@@@@@&   @@@@.        @@@@   @@@@         ,@@@%
   @@@@@@@.              @@@@%              ,@@@@@@@,@@/           ,@@.  @@.            @@@
  @@@@@@@.                /,.                #@@@@@@@@%             .@#  @*              @@
 @@@@@@@@                                    ,@@@@@@@@               @(  @               #@
 #@@@@@@@*                                   &@@@@@@%@               @.  @               &@
  &@@@@@@@               &@ @.              (@@@@@@* /%              @   #@              @,
    @@@@@@@&           *@&   @@           ,@@@@@@,    @.            @#    @&            @@
       /@@@@@@@&(,*%@@&        .@@@%##&@@@@@@,         @@          @@      @@.        %@@
                                                        *@@     @@@@@(    #@@@@@     @@





/* ----------GLOBAL----------   */
* {
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
  margin: 0;
}
body {
  background-color: #231F20;
  margin: 0;
  overflow: hidden !important;
}
#mobile, #mobile-hero-cta .hvr-sweep-to-top {
  display: none;
}
#desktop {
  display: flex;
}
    @media (max-width: 800px) {
      #mobile {
        display: flex;
      }
      #mobile-hero-cta .hvr-sweep-to-top {
        display: inline-block;
      }
      #desktop, #desktop-hero-cta {
        display: none;
      }

    }
.parent {
  position: relative;
  overflow: hidden;
}
img {
    object-fit: cover;
}
.video {
  position: relative;
  width: auto;
  height: inherit;
}
::selection {
  background: #FCCA28;
  color: #231F20;
}
.center-wrapper {
  position: relative;
  width: inherit;
  height: inherit;
}
.center-align {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.yellow {
  background-color: #FDBD28;
  background-blend-mode: multiply;
}
    .yellow ::selection {
      background: #231F20;
      color: #FDBD28;
    }
.pink {
  background-color: #DF9CAF;
  background-blend-mode: multiply;
}
    .pink ::selection {
      background: #DF9CAF;
      color: white;
    }
.red {
  background-color: #CD1E16;
  background-blend-mode: multiply;
}
.blue {
  background-color: #4C6ED5;
  background-blend-mode: multiply;
}
.black {
  background-color: #231F20;
  background-blend-mode: multiply;
}
.white {
  background-color: white;
  background-blend-mode: multiply;
}
/* PRELOADER */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 99;
}
#status {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url("https://res.cloudinary.com/dfiwfoxwx/image/upload/v1549641596/Life%20Coach/Spinning_Coin-alpha.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}



/* FLEX */
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.column {
    -ms-flex: 20vw;
    flex: 20vw;
    max-width: 20vw;
}
.column img {
    margin-top: 0px;
    vertical-align: middle;
}
.full-img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    position: relative;
    z-index: 0;
    transform: scale(1,1);
    transition: transform 8s ease-in;
}
.full-img:hover {
  transform: scale(1.2,1.2);
}
.w2 {
  width: 20vw;
}
.w4 {
  width: 40vw;
}
.w6 {
  width: 60vw;
}

.h1 {
  height: 10vw;
}
.h2 {
  height: 20vw;
}
.h3 {
  height: 30vw;
}
.h4 {
  height: 40vw;
}
.h6 {
  height: 60vw;
}
.h10 {
  height: 100vw;
}
.fullscreen {
  width: 100vw;
  height: 100vh;
}
    @media (max-width: 800px) {
      .column {
        -ms-flex: 50vw;
        flex: 50vw;
        max-width: 50vw;
      }
      .w2 {
        width: 50vw;
      }
      .w4 {
        width: 100vw;
      }
      .w6 {
        width: 100vw;
      }

      .h1 {
        height: 25vw;
      }
      .h2 {
        height: 50vw;
      }
      .h3 {
        height: 75vw;
      }
      .h4 {
        height: 100vw;
      }
      .h5 {
        height: 120vw;
      }
      .h6 {
        height: 150vw;
      }
      .h7 {
        height: 160vw;
      }
      .full-img:hover {
        transform: scale(1,1);
      }
    }



    /*
     _______   _______ _____
    |_   _\ \ / / ___ \  ___|
      | |  \ V /| |_/ / |__
      | |   \ / |  __/|  __|
      | |   | | | |   | |___
      \_/   \_/ \_|   \____/
    */
    h1, h2, p, a, div {
      font-family: 'Barlow Condensed', Impact, Arial Black, 'M PLUS 1p', sans-serif;
      font-weight: 500;
      text-transform: uppercase;
      color: white;
      text-align: center;
      text-decoration: none;
    }
    h1 {
      font-size: 5vw;
      transform: scale(1,.9);
    }
    h2 {
      font-size: 3vw;
    }
    p {
      font-size: 2vw;
      line-height: 2.5vw;
    }
    a {
      font-size: 2vw;
    }
    b {
      font-weight: 900;
    }
    /* .jp p, .jp a {
      font-size: 1.6vw;
    } */
          @media (max-width: 800px) {
            h1 {
              font-size: 13vw;
              line-height: 11vw;
            }
            h2 {
              font-size: 7vw;
            }
            p {
              font-size: 5.5vw;
              line-height: 6vw;
            }
            a {
              font-size: 5.5vw;
            }
            /* .jp p, .jp a {
              font-size: 5vw;
            } */
          }


/*
 _____ _____ ___
/  __ \_   _/ _ \
| /  \/ | |/ /_\ \
| |     | ||  _  |
| \__/\ | || | | |
 \____/ \_/\_| |_/

CTA HOVER EFFECTS */
.hvr-sweep-to-top, .hvr-sweep-to-top-2 {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  -webkit-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0);
  -webkit-transition-property: color; transition-property: color;
  -webkit-transition-duration: 0.3s; transition-duration: 0.3s;
}
.hvr-sweep-to-top:before, .hvr-sweep-to-top-2:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  -webkit-transform: scaleY(0); transform: scaleY(0);
  -webkit-transform-origin: 50% 100%; transform-origin: 50% 100%;
  -webkit-transition-property: transform; transition-property: transform;
  -webkit-transition-duration: 0.2s; transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out;
}
.hvr-sweep-to-top:before {
  background: #fff;
}
.hvr-sweep-to-top-2:before {
  background: #231F20;
}
.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
  color: #231F20;
}
.hvr-sweep-to-top-2:hover, .hvr-sweep-to-top-2:focus, .hvr-sweep-to-top-2:active {
  color: #FCCA28;
}
.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before, .hvr-sweep-to-top-2:hover:before, .hvr-sweep-to-top-2:focus:before, .hvr-sweep-to-top-2:active:before {
  -webkit-transform: scaleY(1); transform: scaleY(1);
}


.cta-white, .cta-black {
  padding: .3vw .7vw;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
  width: auto;
  position: relative;
  margin: 2% 0 2% 0;
}
.cta-white {
  border: .4vw solid #fff;
}
.cta-black {
  border: .4vw solid #231F20;
  color: #231F20;
}
    @media (max-width: 800px) {
      .cta-white, .cta-black {
        padding: 2px 2% 4px 2%;
      }
      .cta-white {
        border: 4px solid #fff;
      }
      .cta-black {
        border: 4px solid #231F20;
      }
    }


/*
██   ██ ███████ ██████   ██████
██   ██ ██      ██   ██ ██    ██
███████ █████   ██████  ██    ██
██   ██ ██      ██   ██ ██    ██
██   ██ ███████ ██   ██  ██████
*/
.hero-wrapper {
  height: 40vw;
  width: 100vw;
  overflow: hidden;
}
.hero {
  width: inherit;
  height: inherit;
  position: relative;
}
.bg-video {
  height: inherit;
  width: inherit;
  object-fit: cover;
  z-index: 0;
}
.hero-text-wrapper {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
}
.hero-text-wrapper h2, .hero-text-wrapper p {
  margin: 0;
}
.headline {
  line-height: 4vw;
  transform: scale(1,.9);
}
.headline h1 {
  margin: 0;
}
.headline p {
  margin-top: 1vw;
}
.hero .cta-white {
  margin: 3% 0;
}

      @media (max-width: 800px) {
        .hero-wrapper {
          height: 120vw;
        }
        .hero-text-wrapper {
          top: 47%;
        }
        .hero .cta-white {
          width: 55%;
          padding: 2px 0px 4px 4px;
          margin-bottom: 5%;
        }
        .headline h1 {
          margin: 0 30%;
        }
        .headline p {
          margin: 1vw 20% 0 20%;
        }
      }


/*
___  ______________  ___   _
|  \/  |  _  |  _  \/ _ \ | |
| .  . | | | | | | / /_\ \| |
| |\/| | | | | | | |  _  || |
| |  | \ \_/ / |/ /| | | || |____
\_|  |_/\___/|___/ \_| |_/\_____/
*/
.modal-content {
  top: 0;
  position: absolute;
  overflow-y: scroll;
}
.modal-content h1, .modal-content h2 {
  margin: 0;
}
#animatedModal, #about-modal-m, #featuring-modal, #featuring-modal-m, #desktop-QR-modal  {
  background-image: url("https://res.cloudinary.com/dfiwfoxwx/image/upload/v1549645855/Life%20Coach/sig-c-bg-white.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#closebt-container {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.closebt {
  top: 10px;
  position: absolute;
  right: 30px;
  z-index: 1;
  transition: all 0.2s;-webkit-transition: all 0.2s;-moz-transition: all 0.2s;-ms-transition: all 0.2s;-o-transition: all 0.2s;
  cursor: pointer;
  width: 50px;
}
.closebt:hover {
  transform: rotate(90deg);
}
.modal-fixed {
  height: 100vh;
  width: 20vw;
  background-color: black;
  position: relative;
}
.modal-fixed video {
  height: inherit;
  width: inherit;
  object-fit: cover;
}
.modal-fixed .modal-fixed-text {
  position: fixed;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%) rotate(-90deg);
  z-index: 1;
  color: white;
}
.modal-fixed .modal-fixed-text h1 {
  font-size: 17.5vmin;
  font-weight: 900;
}
    @media (max-width: 800px) {
      .closebt {
        top: 20px;
        right: 20px;
        width: 40px;
        position: fixed !important;
      }
      .closebt:hover {
        transform: rotate(0deg);
      }
    }


/*
 ___________
|  _  | ___ \
| | | | |_/ /
| | | |    /
\ \/' / |\ \
 \_/\_\_| \_|
*/
#desktop-QR-modal {
  width: 30vw !important;
  height: 30vw !important;
  top: 23% !important;
  left: 35% !important;
}
#desktop-QR-modal .closebt {
  top: 0px;
  right: 20px;
}
.desktop-QR p {
  color: #231f20;
  margin: 5% 0 10% 12%;
  width: 76%;
}
.QR-placeholder {
  height: 11vw;
  width: 11vw;
  background-color: white;
  margin: auto;
}
.QR-placeholder img {
  height: inherit;
  width: inherit;
}


/*
 █████  ██████   ██████  ██    ██ ████████
██   ██ ██   ██ ██    ██ ██    ██    ██
███████ ██████  ██    ██ ██    ██    ██
██   ██ ██   ██ ██    ██ ██    ██    ██
██   ██ ██████   ██████   ██████     ██
*/
.about-wrapper {
  position: relative;
  width: 20vw;
  height: 40vw;
}
.learn-more p {
  padding: 0% 0% 10% 0%;
  margin: 0;
  background-color: white;
  color: #231F20;
}
/* right content container */
.about-modal-wrapper {
  width: 55%;
  left: 27%;
  transform: translate(0, -50%);
  text-align: left;
}
.about-modal-wrapper h1, .about-modal-wrapper h2, .about-modal-wrapper p, .about-modal-wrapper a {
  color: #231F20;
  text-align: left;
}
.about-address {
  margin-top: 0;
}
.about-cta {
  float:left;
  margin-top: 7%;
}
    @media (max-width: 800px) {
      .about-wrapper {
        width: 50vw;
        height: 100vw;
      }
      .about-modal-wrapper {
        position: absolute;
        width: 100%;
        padding: 60px 8% 10% 8%;
        left: 50%;
        transform: translate(-50%, 0%);
      }
      .about-modal-wrapper h2 {
        line-height: 11vw;
      }
      .about-modal-wrapper p {
        line-height: 7.4vw;
      }
      .about-cta {
        width: 100%;
        text-align: center !important;
      }
    }



/*
██████  ██████   ██████   ██████  ██████   █████  ███    ███ ███    ███ ██ ███    ██  ██████
██   ██ ██   ██ ██    ██ ██       ██   ██ ██   ██ ████  ████ ████  ████ ██ ████   ██ ██
██████  ██████  ██    ██ ██   ███ ██████  ███████ ██ ████ ██ ██ ████ ██ ██ ██ ██  ██ ██   ███
██      ██   ██ ██    ██ ██    ██ ██   ██ ██   ██ ██  ██  ██ ██  ██  ██ ██ ██  ██ ██ ██    ██
██      ██   ██  ██████   ██████  ██   ██ ██   ██ ██      ██ ██      ██ ██ ██   ████  ██████
*/
.featuring h2 {
  line-height: 2.8vw;
  margin: 0;
}
.featuring p {
  margin-top: 0;
}
.featuring-cta {
  margin-top: 6%;
  z-index: 1000;
}
.schedule-item a {
    color: #231F20;
    width: 100%;
}
.schedule-row {
  display: flex;
  flex-direction: row;
  -ms-flex-wrap: wrap; flex-wrap: wrap;
  padding: 0 5%;
}
.schedule-item {
  width: 33.33%;
  padding: 3% 2.5% 0% 2.5%;
  position: relative;
}
.tuesday {
  position: relative;
  width: 100%;
}
.programming-details {
  position: relative;
  width: 100%;
  height: 100%;
}
.day-items-wrapper {
  padding-top: 5%;
}




.programming-container {
  position: absolute;
  width: 80%;
  right: 0;
  top: 5%;
  padding-bottom: 5%;
}
.programming-container h1, .programming-container h2, .programming-container p {
  color: #231F20;
}
.programming-container .day-wrapper {
  width: inherit;
  width: 100%;
  height: auto;
  margin: 2% 0 2% 0%;
  display: inline-block;
}
.programming-container .day-wrapper .date {
  float: left;
  width: 20%;
  margin: 0 1% 0 2%;
}
.programming-container .day-wrapper .date h1 {
  font-size: 23vmin;
  line-height: 15.5vmin;
  padding-bottom: 2vmin;
}
.programming-container .day-wrapper .date p {
  margin: 0;
}
.programming-container .day-wrapper .lineup-wrapper {
  float: left;
}
.programming-container .day-wrapper .lineup-wrapper h2 {
  float: left;
  display: block;
  width: 100%;
  text-align: left;
}
.programming-container .day-wrapper .lineup-wrapper p {
  margin: 0;
  line-height: 3.3vw;
  float: left;
}
.programming-container .day-wrapper .lineup-wrapper .line-item {
  width: auto;
  position: relative;
  display: block;
}
.programming-container .day-wrapper .lineup-wrapper p:first-child {
  margin-right: 3.5vw;
}
      @media (max-width: 800px) {
        .featuring h2 {
          line-height: 6.6vw;;
        }
        .schedule-row {
          flex-direction: column;
          padding: 0;
          margin-top: 13%;
        }
        .schedule-item {
          width: 100vw;
          padding: 5% 13%;
        }
        .programming-container {
          width: 100%;
          top: 15%;
          padding: 0 5% 5% 2%;
        }
        .programming-container .day-wrapper {
            margin: 0% 0 7% 0%;
          }
        .programming-container .day-wrapper .date h1 {
          font-size: 15vmin;
          line-height: 11.5vmin;
        }
        .programming-container .day-wrapper .lineup-wrapper p {
          line-height: 9.3vw;
          text-align: left;
        }
        .programming-container .day-wrapper .date {
           margin: 0 4% 0 2%;
        }
      }



/*
___  ___ _____ _____ _____  ___  _____  _____ _____
|  \/  ||  ___/  ___/  ___|/ _ \|  __ \|  ___/  ___|
| .  . || |__ \ `--.\ `--./ /_\ \ |  \/| |__ \ `--.
| |\/| ||  __| `--. \`--. \  _  | | __ |  __| `--. \
| |  | || |___/\__/ /\__/ / | | | |_\ \| |___/\__/ /
\_|  |_/\____/\____/\____/\_| |_/\____/\____/\____/
*/
.signature-bg-yellow {
  background-image: url("https://res.cloudinary.com/dfiwfoxwx/image/upload/v1549645927/Life%20Coach/sig-c-bg-yellow.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.message {
  line-height: 4.2vw;
}
.message h1 {
  color: #231F20;
  font-weight: 900;
}
.rotate {
  transform: translate(-50%, -50%) rotate(-90deg);
}
      @media (max-width: 800px) {
        .message {
          line-height: 10vw;
        }
      }


/*
______ _____ _____ ___  _____ _      _____
|  _  \  ___|_   _/ _ \|_   _| |    /  ___|
| | | | |__   | |/ /_\ \ | | | |    \ `--.
| | | |  __|  | ||  _  | | | | |     `--. \
| |/ /| |___  | || | | |_| |_| |____/\__/ /
|___/ \____/  \_/\_| |_/\___/\_____/\____/
*/
.details p b {
  font-size: 8.5vw;
  line-height: 6vw;
}
      @media (max-width: 800px) {
        .details p b {
          font-size: 25vw;
          line-height: 18vw;
        }
      }


/*
 _   _ _____ _____ _____ _____ ___________  _____
| | | |_   _/  ___|_   _|_   _|  _  | ___ \/  ___|
| | | | | | \ `--.  | |   | | | | | | |_/ /\ `--.
| | | | | |  `--. \ | |   | | | | | |    /  `--. \
\ \_/ /_| |_/\__/ /_| |_  | | \ \_/ / |\ \ /\__/ /
 \___/ \___/\____/ \___/  \_/  \___/\_| \_|\____/
*/
.visitors a {
  border: 0px solid #231F20 !important;
  font-family: 'Barlow Condensed', Impact, Arial Black, 'M PLUS 1p', sans-serif !important;
  font-weight: 500 !important;
  font-size: 3vw !important;
  text-transform: uppercase;
  pointer-events: none;
}
        @media (max-width: 800px) {
          .visitors a {
            font-size: 7vw !important;
          }
        }


/*
 _____ _____ _____  _   __ ___________
|_   _|_   _/  __ \| | / /|  ___| ___ \
  | |   | | | /  \/| |/ / | |__ | |_/ /
  | |   | | | |    |    \ |  __||    /
  | |  _| |_| \__/\| |\  \| |___| |\ \
  \_/  \___/ \____/\_| \_/\____/\_| \_|
*/
@-webkit-keyframes ticker {
  0% { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); visibility: visible; }
  100% { -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); }
  }
@keyframes ticker {
  0% { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); visibility: visible; }
  100% {  -webkit-transform: translate3d(-100%, 0, 0);  transform: translate3d(-100%, 0, 0);}}

.ticker-wrap {
  position: relative;
  top: 0;
  width: 100%;
  overflow: hidden;
  height: 4vw;
  background-color: white;
  padding-left: 100%;
  box-sizing: content-box;
}
.ticker-wrap .ticker {
  display: inline-block;
  height: 4vw;
  line-height: 4vw;
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;
  -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear; animation-timing-function: linear;
  -webkit-animation-name: ticker; animation-name: ticker;
  -webkit-animation-duration: 180s; animation-duration: 180s;
}
.ticker-wrap .ticker__item {
  display: inline-block;
  padding: 0px 15px;
  font-size: 2vw;
  color: #231F20;
  overflow: hidden;
}
      @media (min-width: 1920px) {
        .ticker-wrap .ticker__item-2 {
          padding: 0% 2rem;
        }
      }
      @media (max-width: 800px) {
        .ticker-wrap {
          height: 10vw;
        }
        .ticker-wrap .ticker {
          line-height: 10vw;
        }
        .ticker__item {
          font-size: 5.5vw !important;
        }
      }


/*
___  ___  ___  ______
|  \/  | / _ \ | ___ \
| .  . |/ /_\ \| |_/ /
| |\/| ||  _  ||  __/
| |  | || | | || |
\_|  |_/\_| |_/\_|
*/
.map {
  width: inherit;
  height: inherit;
  object-fit: cover;
  position: relative;
  z-index: 0;
}
#map a {
  color: #231F20;
  /* font-size: 1.3vw; */
  padding-left: 10px;
}
#map a:hover {
  color: #DF9CAF;
  cursor: pointer;
}

#map_canvas{background-color:#DF9CAF !important}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
.map-mobile {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 0;
}
.map-mobile-cta h2 {
  color: #231F20;
  font-size: 9vw;
}
          @media (max-width: 800px) {
            #map {
              width: inherit;
            }
            #map a {
              color: #231F20;
              font-size: 5.5vw;
            }
          }




/*
 █████  ███    ██ ██ ███    ███  █████  ████████ ███████
██   ██ ████   ██ ██ ████  ████ ██   ██    ██    ██
███████ ██ ██  ██ ██ ██ ████ ██ ███████    ██    █████
██   ██ ██  ██ ██ ██ ██  ██  ██ ██   ██    ██    ██
██   ██ ██   ████ ██ ██      ██ ██   ██    ██    ███████
*/
.animated {  -webkit-animation-duration: 1s;  animation-duration: 1s;  -webkit-animation-fill-mode: both;  animation-fill-mode: both;}
.animated.infinite {  -webkit-animation-iteration-count: infinite;  animation-iteration-count: infinite;}
@-webkit-keyframes fadeIn {
  from { opacity: 0;}
  to { opacity: 1;}
}
@keyframes fadeIn {
  from { opacity: 0; }
  to {opacity: 1;}
}
.fadeIn {  -webkit-animation-name: fadeIn;  animation-name: fadeIn;}
@-webkit-keyframes fadeInDownBig {
  from {opacity: 0;-webkit-transform: translate3d(0, -2000px, 0);transform: translate3d(0, -2000px, 0);}
  to {opacity: 1;-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);  }
}
@keyframes fadeInDownBig {
  from {  opacity: 0;  -webkit-transform: translate3d(0, -2000px, 0);  transform: translate3d(0, -2000px, 0);}
  to {  opacity: 1;  -webkit-transform: translate3d(0, 0, 0);  transform: translate3d(0, 0, 0);}
}
.fadeInDownBig {  -webkit-animation-name: fadeInDownBig;  animation-name: fadeInDownBig;}
@-webkit-keyframes fadeOutUpBig {
  from {  opacity: 1;}
  to {  opacity: 0;  -webkit-transform: translate3d(0, -2000px, 0);  transform: translate3d(0, -2000px, 0);}
}
@keyframes fadeOutUpBig {
  from {  opacity: 1;}
  to {  opacity: 0; -webkit-transform: translate3d(0, -2000px, 0);  transform: translate3d(0, -2000px, 0);}
}
.fadeOutUpBig { -webkit-animation-name: fadeOutUpBig;  animation-name: fadeOutUpBig;}


/*
███████  ██████  ███    ██ ████████     █████  ██     ██ ███████ ███████  ██████  ███    ███ ███    ██ ███████
██      ██    ██ ████   ██    ██       ██   ██ ██     ██ ██      ██      ██    ██ ████  ████ ████   ██ ██
█████   ██    ██ ██ ██  ██    ██ █████ ███████ ██  █  ██ █████   ███████ ██    ██ ██ ████ ██ ██ ██  ██ █████
██      ██    ██ ██  ██ ██    ██       ██   ██ ██ ███ ██ ██           ██ ██    ██ ██  ██  ██ ██  ██ ██ ██
██       ██████  ██   ████    ██       ██   ██  ███ ███  ███████ ███████  ██████  ██      ██ ██   ████ ███████
*/
.icons {
  margin: auto;
  width: 100%;
}
.icons a {
  text-decoration: none;
  color: #231F20;
  width: 25%;
}
.fab {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 2vw !important;
    margin-top: 15%;
    width: 48%;
    text-align: center;
    text-decoration: none;
}
.fab:hover {
  opacity: 0.7;
}

.fa-line:hover {  color: #00c300;}
.fa-facebook:hover, .fa-facebook-f:hover {  color: #3B5998;}
.fa-twitter:hover, .fa-twitter-square:hover {  color: #55ACEE;}

    @media (max-width: 800px) {
      .fab {
        font-size: 6vw !important;
      }
    }
    @media screen and (max-width: 414px) {
      .icons {
      bottom: 11%;
      }
      }

@media screen and (max-width: 414px) {

}

@media screen and (max-width: 375px) {

}

@media screen and (max-width: 320px) {

}

/*
___  ____   _ _____ _____ _____
|  \/  | | | /  ___|_   _/  __ \
| .  . | | | \ `--.  | | | /  \/
| |\/| | | | |`--. \ | | | |
| |  | | |_| /\__/ /_| |_| \__/\
\_|  |_/\___/\____/ \___/ \____/
*/
#player-content {
    position: absolute;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 30px 80px #656565;
    border-radius: 15px;
    z-index: 2;
    top: 2vw;
    right: 8.5vw;
}
#album-art {
    position: absolute;
    width: 6vw;
    height: 6vw;
    transform: rotateZ(0);
    box-shadow: 0 0 0 0px #fff, 0 30px 50px -15px rgba(0,0,0,0);
    border-radius: 50%;
    overflow: hidden;
    transform: scale(1.2);
    transition: 0.2s ease-out all;
}
#album-art.active {
    box-shadow: 0 0 0 0px #fff, 0 30px 50px -15px rgba(0,0,0,.7);
    transform: scale(1);
    transition: 0.5s ease-out all;
}
/* #album-art:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 20px;
    height: 20px;
    margin: -10px auto 0 auto;
    background-color: #d6dee7;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px #fff;
    z-index: 2;
} */
@keyframes rotateAlbumArt {
    0%{ transform: rotateZ(0); }
    100%{ transform: rotateZ(360deg); }
}
#album-art img {
    display: block;
    position: absolute;
    top: 0%;
    left: -3%;
    width: 105%;
    height: 105%;
    opacity: 0;
    z-index: -1;
    animation: rotateAlbumArt 2s linear 0s infinite forwards paused;
}
#album-art img.active {
    opacity: 1;
    z-index: 1;
}
#album-art.active img.active {
    z-index: 1;
    animation: rotateAlbumArt 2s linear 0s infinite forwards running;
}

/* i play/pause btns */
#album-art .control {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-51%, -49%);
  z-index: 100;
}
#album-art .button {
    transition: 0.2s ease all;
    cursor: pointer;
    padding: 3vw;
}
#album-art .button i {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0s all;
    padding: .7vw;
}
#album-art .btn-play {
  background-image: url('https://res.cloudinary.com/dfiwfoxwx/image/upload/v1550163991/Life%20Coach/play-white.svg');
}
#album-art .btn-pause {
  background-image: url('https://res.cloudinary.com/dfiwfoxwx/image/upload/v1550170662/Life%20Coach/pause-white.svg');
}
#album-art .button:hover i {
    filter: invert(.2);
    cursor: pointer;
}

/* font-awesome play/pause btns */
    /* #album-art .button i {
        display: block;
        color: #fff;
        font-size: 2vw;
        text-align: center;
        line-height: 1;
    }

    #album-art .button, .button i {
        transition: 0.2s ease all;
        padding: 30px;
    }
    #album-art .button:hover i {
        opacity: .8;
        cursor: pointer;
    } */

/* buffer-box */
    /* #buffer-box {
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        height: 13px;
        font-size: 13px;
        font-family: 'Barlow Condensed', Impact, Arial Black, 'M PLUS 1p', sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        color: white;
        text-align: center;
        line-height: 1;
        padding: 6px;
        margin: -12px auto 0 auto;
        background-color: rgba(255, 255, 255, 0.19);
        opacity: 0;
        z-index: 2;
    }

    #album-art img, #buffer-box {
        transition: 0.1s linear all;
    }
    #album-art.buffering img {
        opacity: 0.25;
    }
    #album-art.buffering img.active {
        opacity: 0.8;
        filter: blur(2px);
        -webkit-filter: blur(2px);
    }
    #album-art.buffering #buffer-box {
        opacity: 1;
    }
    */

      @media (max-width: 800px) {
        #album-art {
          width: 20vw;
          height: 20vw;
        }
        #player-content {
          top: 4vw;
          right: 24vw;
        }
        #album-art img {
          width: 100%;
          width: 100%;
        }
        #album-art .control {
          transform: translate(-53%, -48%);
        }
        #album-art .button {
          padding: 7vw;
        }
        #album-art .button i {
          padding: 2.5vw;
        }
      }
