* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  margin: 0;
}
body {
  background-color: white;
  margin: 0;
  overflow: hidden;
}
#mobile {
  display: none;
}
#desktop {
  display: flex;
}


.parent {
  position: relative;
}

.yellow {
  background-color: #FDBD28;
  background-blend-mode: multiply;
}

.purple {
  background-color: #DF9CAF;
  background-blend-mode: multiply;
}

.red {
  background-color: #CD1E16;
  background-blend-mode: multiply;
}

.green {
  background-color: #4C6ED5;
  background-blend-mode: multiply;
}

.black {
  background-color: #231F20;
  background-blend-mode: multiply;
}

.white {
  background-color: white;
  background-blend-mode: multiply;
}

.w1 {
  width: 10vw;
}
.w2 {
  width: 20vw;
}
.w3 {
  width: 30vw;
}
.w4 {
  width: 40vw;
}
.w5 {
  width: 50vw;
}
.w6 {
  width: 60vw;
}

.h1 {
  height: 10vw;
}
.h2 {
  height: 20vw;
}
.h3 {
  height: 30vw;
}
.h4 {
  height: 40vw;
}
.h6 {
  height: 60vw;
}
.h8 {
  height: 80vw;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.column {
    -ms-flex: 20vw;
    flex: 20vw;
    max-width: 20vw;
}

.column img {
    margin-top: 0px;
    vertical-align: middle;
}



.full-img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

img {
    object-fit: cover;
}



/*
██████  ██    ██ ████████ ████████  ██████  ███    ██ ███████
██   ██ ██    ██    ██       ██    ██    ██ ████   ██ ██
██████  ██    ██    ██       ██    ██    ██ ██ ██  ██ ███████
██   ██ ██    ██    ██       ██    ██    ██ ██  ██ ██      ██
██████   ██████     ██       ██     ██████  ██   ████ ███████
*/

.btn {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 2vw;
  color: #231F20;
  text-align: center;
  color: black;
  border: .35vw solid #231F20;
  background-color: rgba(0,0,0,0);
  position:inherit;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

.cta-1 {
  width: 20vw;
  left: 50%;
  margin-left: -10vw;
  top: 80%;
}

a {
  text-decoration: none;
  color: #231F20;
}

.btn:hover > a {
  color: #FCCA28;
}






/*
███    ███  █████  ██ ███    ██
████  ████ ██   ██ ██ ████   ██
██ ████ ██ ███████ ██ ██ ██  ██
██  ██  ██ ██   ██ ██ ██  ██ ██
██      ██ ██   ██ ██ ██   ████
*/

.main-cta {
  background-image: url("bg/main-2.png");
  background-repeat: no-repeat;
  width: inherit;
  height: inherit;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.headline {
  position: absolute;
  width: 54%;
  top: 10%;
  left: 50%;
  margin-left: -27%;
}

.visitors {
  position: absolute;
  width: 50%;
  top: 25%;
  left: 50%;
  margin-left: -25%;
}

.if-not-now {
  position: absolute;
  width: 40%;
  top: 25%;
  left: 50%;
  margin-left: -20%;
}

.stay-woke {
  position: absolute;
  width: 34%;
  top: 35%;
  left: 50%;
  margin-left: -17%;
}

.power-lies-within {
  position: absolute;
  width: 56%;
  top: 27%;
  left: 50%;
  margin-left: -28%;
}

.you-are-here {
  position: absolute;
  width: 56%;
  top: 37%;
  left: 50%;
  margin-left: -28%;
}


/*
██████       ██ ███████
██   ██      ██ ██
██   ██      ██ ███████
██   ██ ██   ██      ██
██████   █████  ███████
*/


.music {
  position: relative;
  width: inherit;
  height: inherit;
  z-index: 0;
}

.name {
  position: absolute;
  height: 5%;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.name-2 {
  position: absolute;
  height: 11%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.music-img {
  opacity: 0;
  width: inherit;
  height: inherit;
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -ms-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.music-img:hover {
  opacity: 1;
  object-fit: cover;
  -webkit-transition: opacity .2s ease-in;
  -moz-transition: opacity .2s ease-in;
  -ms-transition: opacity .2s ease-in;
  -o-transition: opacity .2s ease-in;
  transition: opacity 0.2s ease-in;
}




.video {
  position: relative;
  width: auto;
  height: inherit;
}

.date {
  position: absolute;
  width: 30%;
  top: 45%;
  left: 50%;
  margin-left: -15%;
}

.lot-radio {
  width: 70%;
  position: absolute;
  top: 15%;
  left: 50%;
  margin-left: -35%;
}

.graffiti {
  position: absolute;
  width: 60%;
  left: 50%;
  margin-left: -30%;
  padding-top: 15%;
}

.olapic {
  filter:grayscale(100);
}

.time {
  position: absolute;
  width: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.play-btn {
  position: absolute;
  width: 6%;
  top: 35%;
  left: 15%;
  cursor: pointer;
}

.play-btn:hover {
  opacity: .4;
}

.song {
  position: absolute;
  width: 40%;
  top: 37%;
  right: 15%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 600px) {
  .column {
    -ms-flex: 50vw;
    flex: 50vw;
    max-width: 50vw;
  }
  .w1 {
    width: 25vw;
  }
  .w2 {
    width: 50vw;
  }
  .w3 {
    width: 75vw;
  }
  .w4 {
    width: 100vw;
  }
  .w5 {
    width: 100vw;
  }
  .w6 {
    width: 100vw;
  }

  .h1 {
    height: 25vw;
  }
  .h2 {
    height: 50vw;
  }
  .h3 {
    height: 75vw;
  }
  .h4 {
    height: 100vw;
  }
  .h6 {
    height: 150vw;
  }
  .h8 {
    height: 200vw;
  }
  .btn {
    font-size: 4.5vw;
  }
  .cta-1 {
    width: 46vw;
    left: 50%;
    margin-left: -23vw;
    top: 80%;
  }
  #mobile {
    display: flex;
  }
  #desktop {
    display: none;
  }
  .ticker__item {
    font-size: 1.5rem !important;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 414px) {
  .cta-1 {
    width: 54vw;
    left: 50%;
    margin-left: -27vw;
    top: 80%;
  }

  .btn {
    font-size: 5vw;
    padding-top: 1%;
    padding-bottom: 1%;
  }
}



/*
████████ ██  ██████ ██   ██ ███████ ██████
   ██    ██ ██      ██  ██  ██      ██   ██
   ██    ██ ██      █████   █████   ██████
   ██    ██ ██      ██  ██  ██      ██   ██
   ██    ██  ██████ ██   ██ ███████ ██   ██
*/

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.ticker-wrap {
  position: relative;
  top: 0;
  width: 100vw;
  overflow: hidden;
  height: 3rem;
  background-color: white;
  padding-left: 100%;
  box-sizing: content-box;
}
.ticker-wrap .ticker {
  display: inline-block;
  height: 3rem;
  line-height: 3rem;
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 90s;
  animation-duration: 90s;

}
.ticker-wrap .ticker__item {
  display: inline-block;
  padding: 0px 2rem;
  margin: 0;
  font-size: 2rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 2vw;
  color: #231F20;
  overflow: hidden;
}

.ticker-wrap .ticker__item b{
  display: inline-block;
  padding: 0px 2rem;
  margin: 0;
  font-size: 2rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 2vw;
  color: #231F20;
  overflow: hidden;
}

.ticker-img {
  transform: scale(.4, .4);
  /* max-width: 240%; */
  margin: 0;
}





/*
███████  ██████  ███    ██ ████████     █████  ██     ██ ███████ ███████  ██████  ███    ███ ███    ██ ███████
██      ██    ██ ████   ██    ██       ██   ██ ██     ██ ██      ██      ██    ██ ████  ████ ████   ██ ██
█████   ██    ██ ██ ██  ██    ██ █████ ███████ ██  █  ██ █████   ███████ ██    ██ ██ ████ ██ ██ ██  ██ █████
██      ██    ██ ██  ██ ██    ██       ██   ██ ██ ███ ██ ██           ██ ██    ██ ██  ██  ██ ██  ██ ██ ██
██       ██████  ██   ████    ██       ██   ██  ███ ███  ███████ ███████  ██████  ██      ██ ██   ████ ███████
*/

.icons {
  position: relative;
  width: 100%;
}
.fa {
    padding: 20px;
    font-size: 20vw;
    margin-left: 1%;
    margin-top: 15%;
    width: 48%;
    text-align: center;
    text-decoration: none;
    transform: scale(2, 2);
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}
.fa-facebook:hover {
    color: #3B5998;
}
.fa-twitter:hover {
    color: #55ACEE;
}
.fa-instagram:hover {
    color: #fb3958;
}
